body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f0c25;
}

/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #272063;
    margin-bottom: 50px; /* Menor espaço abaixo do cabeçalho */
    border-bottom: 1px solid white;
}

.nav-links a {
    margin: 0 150px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Ícones de navegação */
.icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.material-icons {
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* Menu do usuário */
.user-menu {
    position: relative;
}

.imagem1 {
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

/* Estilo para a imagem */
.imagem1 img {
    width: 200px; /* Ajuste a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container h1{
    color: white;
    margin-bottom: 50px;
}

/* Estilizando a tabela */
.table {
    margin-top: 20px;
    color: white;
}

#carrinho-itens{
    background-color: #272063;
}

/* Estilizando os botões */
td .btn {
    margin-right: px;
}

/* Estilo para o cabeçalho do rodapé */
h2 {
    color: #00ff00; /* Verde para os títulos */
}

/* Ajustes para a lista de produtos */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #272063; /* Cor de fundo alternada */
}

.card {
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra das cartas */
}

.d-flex h5{
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px; /* Bordas arredondadas nos botões */
    padding: 10px 20px; /* Espaçamento interno nos botões */
    font-weight: bold; /* Texto em negrito nos botões */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
    cursor: pointer;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
    color: #ffffff;
}