/* categoriesAdd.css */

/* Estilizando o corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

/* Estilo para o formulário */
form {
    max-width: 600px;
    margin: 0 auto;
}
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra das cartas */
}

footer {
    background-color: #343a40;
    color: #ffffff;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px; /* Bordas arredondadas nos botões */
    padding: 10px 20px; /* Espaçamento interno nos botões */
    font-weight: bold; /* Texto em negrito nos botões */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
}

.btn-primary:hover {
    background-color: #0056b3;
    color: #ffffff;
}

