body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo suave */
}
h1, h3 {
    color: 056b3; /* Cor verde para os títulos */
}

.btn-success {
    background-color: #0056b3;
    border-color: 056b3;
}

.btn-success:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.list-group-item {
    background-color: #fff;
}
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra das cartas */
}
