
/* Estilizando o corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo suave */
}

h2 {
    color: #0056b3; /* Cor verde para os títulos */
}

.table {
    margin-top: 20px;
}

.table th,
.table td {
    vertical-align: middle; /* Alinha o texto ao centro verticalmente */
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px; /* Bordas arredondadas nos botões */
    padding: 10px 20px; /* Espaçamento interno nos botões */
    font-weight: bold; /* Texto em negrito nos botões */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
}

.btn-primary:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.btn-warning {
    background-color: #00ff73;
    border: none;
    border-radius: 5px; /* Bordas arredondadas nos botões */
    padding: 10px 20px; /* Espaçamento interno nos botões */
    font-weight: bold; /* Texto em negrito nos botões */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
}

.btn-pwarning:hover {
    background-color: #00ff73;
    color: #ffffff;
}
