/* orderHistory.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo */
}

h2 {
    color: #0056b3; /* Cor verde para o título */
}

table {
    margin-top: 20px;
}

th {
    background-color: #007bff; /* Cor verde para cabeçalho da tabela */
    color: white;
}

td {
    background-color: white;
}

tr:hover {
    background-color: #f1f1f1; /* Cor de destaque ao passar o mouse */
}
