/* productsAdd.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo */
}

h2 {
    color: #0056b3; /* Cor verde para o título */
}

.form-control {
    border: 1px solid #007bff; /* Borda verde */
}

.btn-success {
    background-color: #007bff; /* Cor verde do botão */
    border-color: #007bff; /* Cor da borda do botão */
}

.btn-success:hover {
    background-color: #007bff; /* Cor do botão ao passar o mouse */
    border-color: #007bff; /* Cor da borda do botão ao passar o mouse */
}

.btn-secondary {
    background-color: #6c757d; /* Cor cinza do botão */
    border-color: #6c757d; /* Cor da borda do botão */
}

.btn-secondary:hover {
    background-color: #5a6268; /* Cor do botão ao passar o mouse */
    border-color: #545b62; /* Cor da borda do botão ao passar o mouse */
}
