/* Estilizando o corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo suave */
}

h2 {
    color: #343a40; /* Cor do título */
}

.card {
    transition: transform 0.2s; /* Animação ao passar o mouse */
}

.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
}

.card-title {
    font-size: 1.25rem; /* Aumenta o tamanho do título do produto */
}

.card-text {
    font-size: 1rem; /* Tamanho padrão do texto do produto */
}
