body {
    font-family: 'Nunito', sans-serif;
    background-color: #0f0c25;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    padding: 0 20px;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.caixa img {
    width: 115px;
}

h1 {
    font-size: 40px;
    color: #fafafa;
}

.email input,
.senha input,
.input-group input,
.input-groupsenha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 40px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    line-height: 40px;
}

.input-group,
.input-groupsenha {
    position: relative;
    margin-bottom: 15px;
}

.input-group i,
.input-groupsenha i {
    position: absolute;
    top: 54%;
    left: 115px;
    transform: translateY(-50%);
    font-size: 16.5px;
    color: #b6b6b6;
}

.cadastrar input {
    cursor: pointer;
    width: 210px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(134, 243, 134);
    color: #141414;
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
}

.cadastrar input:hover {
    transform: scale(0.95);
    transition: 1s;
}

input::placeholder {
    color: #b6b6b6;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: aquamarine;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .caixa img {
        width: 90px;
    }

    .email input,
    .senha input,
    .input-group input,
    .input-groupsenha input {
        width: 200px;
        padding-left: 30px;
    }

    .input-group i,
    .input-groupsenha i {
        left: 95px;
    }

    .cadastrar input {
        width: 180px;
        height: 45px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .caixa img {
        width: 70px;
    }

    .email input,
    .senha input,
    .input-group input,
    .input-groupsenha input {
        width: 150px;
        padding-left: 20px;
    }

    .input-group i,
    .input-groupsenha i {
        left: 75px;
    }

    .cadastrar input {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
}
