*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #0f0c25;
    color: white;
    align-items: center;
    justify-content: center;
}

/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #272063;
    margin-bottom: 90px;
    border-bottom: 1px solid white;
}

.nav-links a {
    margin: 0 150px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Ícones de navegação */
.icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.material-icons {
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* Menu do usuário */
.user-menu {
    position: relative;
}

.imagem1 {
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

/* Estilo para a imagem */
.imagem1 img {
    width: 200px; /* Ajuste a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
}

h1{
    font-size: 50px;
}

.container {
    margin-top: 13%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 115px;
}

h1{
    font-size: 45px;
    padding: 40px;
}

.subtitulo{
    color: aquamarine;
}

.opcoesMenu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

button{
    cursor: pointer;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #32297a;
}

button:hover{
    transform: scale(0.95);
    transition: 1s;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
}