body {
    font-family: 'Nunito', sans-serif; 
    background-color: #0f0c25;
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}

header {
    width: 97.2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border: 3px solid white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: -5px;
    margin-left: -3px;
  }
  
  .logo {
    width: 50px;
    cursor: pointer;
    margin-left: 10%;
  }
  
  .logo:hover {
    transform: scale(0.93);
    transition: all 0.5s;
  }
  
  header ul {
    list-style: none;
    display: flex;
    gap: 130px;
  }
  
  header ul li {
    display: inline-block;
  }
  
  header ul li a {
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  header ul li:hover {
    transform: scale(0.93);
    transition: all 0.5s;
  }
  
  
  /* Estilos para o botão de login */
  
  header .compras {
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    margin-right: -14%;
  }
  
  header .compras:hover {
    transform: scale(0.95);
    transition: all 0.4s;
  }
  
  header .compras {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  header .compras img {
    width: 45px;
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
  
  
  header a {
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    margin-right: 1%;
  }
  
  header a:hover {
    transform: scale(0.95);
    transition: all 0.4s;
  }
  
  header a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  header a img {
    width: 45px;
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .logo {
      width: 200px;
      margin-bottom: 10px;
    }
  
    header ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
    }
  
    header ul li {
      display: block;
    }
  
    header a {
      width: 100%;
      justify-content: center;
      margin-top: 10px;
    }
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .logo {
      width: 130px;
      margin-bottom: 10px;
    }
  
    header ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
    }
  
    header ul li {
      display: block;
    }
  
    header a {
      width: 100%;
      justify-content: center;
      margin-top: 10px;
    }
  }

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: center;
}

.container .products-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Três colunas */
    gap: 4rem; /* Aumenta o espaço estre os cards */
}

.container .products-container .product{
    margin-top: 100px;
    text-align: center;
    padding: 2rem 1rem; /* Aumenta o padding dentro dos cards */
    background-color: #1e1c2e;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1); /* Aumenta a sombra para dar um efeito mais pronunciado */
    outline: .1rem solid white;
    outline-offset: -1.5rem;
    cursor: pointer;
    color: #b6b6b6;
    border-radius: 50px;
}

.container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
    transition: 0.8s;
}

.container .products-container .product img{
    margin-top: 15px;
    height: 6rem; /* Aumenta a altura das imagens */
    margin-bottom: -10px;
}

.container .products-container .product:hover img{
    transform: scale(.9);
}

.container .products-container .product h3{
    padding: 1rem 0; /* Aumenta o espaçamento interno dos títulos */
    font-size: 1.8rem; /* Aumenta o tamanho da fonte do título */
    color: #fafafa; /*Cor do titulo do card*/
    font-weight: bold;
}

.container .products-container .product:hover h3{
    color: aquamarine;
}

.container .products-container .product .price{
    font-size: 1rem; /* Aumenta o tamanho da fonte do preço */
    margin-top: -30px;
    margin-bottom: 30px;
    color: #b6b6b6;
}

.container .products-container .product button{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 65%;
    height: 35px;
    font-size: 17px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.container .products-container .product .detalhes{
    margin-bottom: 10px;
}

.cart{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}

.cart #cart-items{
    margin-top: 10px;
    margin-bottom: 30px;
}

.cart .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.cart input{
    width: 100%;
    height: 30px;
    font-size: 17px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.cart .frete{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cart button{
    width: 100%;
    height: 30px;
    font-size: 17px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.cart #checkout{
    margin-top: 25px;
}

.products-preview{
    position: fixed;
    top: 0; 
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #1e1c2e;
    position: relative;
    margin: 2rem;
    width: 40rem;
    color: #b6b6b6;
}

.products-preview .preview.active{
    display: inline-block;
}

.products-preview .preview img{
    height: 30rem;
}

.products-preview .preview .fa-times{
    position: absolute;
    top: 1rem; 
    right: 1.5rem;
    cursor: pointer;
    color: #fafafa;
    font-size: 4rem;
}

.products-preview .preview h3{
    color: #fafafa;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.products-preview .preview .stars{
    padding: 1rem 0;
    font-size: 1.7rem;
}

.products-preview .preview .stars i{
    color: aquamarine;
}

.products-preview .preview p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #b6b6b6;
}

.products-preview .preview .price{
    padding: 1rem 0;
    font-size: 2.5rem;
    color: aquamarine;
}

.products-preview .preview .buttons{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products-preview .preview .buttons a{
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart{
    background: #444;
    color: #fff;
}

.products-preview .preview .buttons a.cart:hover{
    background: #111;
}

.products-preview .preview .buttons a.buy:hover{
    background: #444;
    color: #fff;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    .container .products-container {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas para telas menores */
    }
}

@media (max-width: 450px) {
    .container .products-container {
        grid-template-columns: 1fr; /* Uma coluna para telas muito pequenas */
    }
}

