body {
    font-family: 'Nunito', sans-serif;
    background-color: #0f0c25;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}

.caixa img {
    width: 115px;
}

h1 {
    font-size: 40px;
    color: #fafafa;
}

.email input, .senha input {
    border-radius: 15px;
    border: none;
    width: 100%;
    max-width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    padding-left: 40px;
}

.input-group, .input-groupsenha {
    position: relative;
    margin-bottom: 10px;
    color: #b6b6b6;
    width: 100%;
    max-width: 250px;
}

.input-group i, .input-groupsenha i {
    position: absolute;
    top: 55%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16.5px;
    color: #b6b6b6;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(134, 243, 134);
    color: #141414;
    font-size: 17px;
    font-weight: bold;
}

.entrar input:hover {
    transform: scale(0.95);
    transition: 1s;
}

p {
    margin-top: 20px;
}

input::placeholder {
    color: #b6b6b6;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: aquamarine;
}

@media (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    .caixa img {
        width: 90px;
    }

    .email input, .senha input {
        width: 100%;
        max-width: 200px;
    }

    .entrar input {
        width: 100px;
        font-size: 15px;
    }
}
