body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0f0c25;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}