<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cadastro - Cliente</title>
  <link rel="icon" href="/committers/src/main/resources/templates/img/img-committers.png" type="image/x-icon">

  <link rel="stylesheet" href="/committers/src/main/resources/templates/css/CadastroCliente.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

  <header class="header">
    <a href="index.html"> 
      <img src="/committers/src/main/resources/templates/img/img-committers.png" alt="Logo do E-commerce" width="40" height="40">
    </a>

    <nav class="nav-links">
      <a href="NovaListaProdutos.html">Home</a>
      <a href="#informacoes">Conta</a>
    </nav>

    <div class="icons">
      <a href="cart.html" class="compras icon-text">
        <i class="fi fi-rr-cart-shopping-fast"></i>
        <span>Carrinho</span>
      </a>
        <a href="login.html" class="user icon-text">
          <i class="fi fi-rr-circle-user"></i>
          <span>Login</span>
        </a>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="separacao">

      <form id="formCadastro">

        <div class="info">
          
          <p class="cadastro" name="cadastro">Cadastrar-se</p>
          <input type="text" class="nome" name="nome" placeholder="Nome" required>
          <input type="text" class="email" name="email" placeholder="E-mail" required>
          <input type="text" class="cpf" name="cpf" placeholder="CPF" required>
          <input type="password" class="senha" name="senha" id="senha" placeholder="Senha" required>
          <input type="text" class="genero" name="genero" placeholder="Gênero" required>
          <input type="text" class="data" name="data" placeholder="Data de Nascimento" required>
          <button class="buttonadd">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/committers/src/main/resources/templates/js/CadastroCliente.js"></script>
</body>

</html>