<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Cliente</title>
  <link rel="stylesheet" href="/target/classes/templates/css/CheckCliente.css">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="header-inner-content">
        <h1 class="logo">Market Book</h1>
        <nav>
          <ul>
            <a href="/target/classes/templates/html/ClienteMenu.html">
              <li>Home</li>
            </a>
            <a href="/target/classes/templates/html/ClienteConta.html">
              <li>Conta</li>
            </a>
          </ul>
        </nav>
        <div class="nav-icon-container">
          <a href="/target/classes/templates/html/ClienteCarrinho.html">
            <img src="/target/classes/templates/img/CarrinhoCompra.svg" alt="Carrinho">
          </a>
          <img src="/target/classes/templates/img/menu.png" alt="Menu" class="menu-button">
        </div>
      </div>
    </div>
    <div class="separacao">
      <div class="info">
        <p class="pagamento" name="pagamento">Pagamento</p>
        <select class="forma" name="forma" id="forma" required>
          <option value="1">Boleto</option>
          <option value="2">Cartão</option>
        </select>
        <input type="text" id="inputBoleto" placeholder="Boleto Info">
        <input type="text" id="inputNum" placeholder="Número do Cartão">
        <input type="text" id="inputCod" placeholder="Código Verificador">
        <input type="text" id="inputNom" placeholder="Nome Completo">
        <input type="text" id="inputData" placeholder="Data de Vencimento">
        <input type="text" id="inputQuan" placeholder="Quantidade de Parcelas">
        <p class="preco">R$1000</p>
        <button class="buttonadd" id="buttonadd">Finalizar Pagamento</button>
      </div>
    </div>
  </div>
    <script src="/target/classes/templates/js/CheckCliente.js"></script>
    <script>
      var botao = document.getElementById('buttonadd');
      botao.addEventListener('click', function () {
        window.location.href = "ClienteResumo.html";
      });
    </script>
</body>
</html>
