<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verifica Endereços</title>
  <link rel="stylesheet" href="/target/classes/templates/css/ClienteVerifiEndereco.css">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="header-inner-content">
        <h1 class="logo">Market Book</span></h1>
        <nav>
          <ul>
            <a href="/target/classes/templates/html/ClienteMenu.html">
              <li>Home</li>
            </a>
            <a href="/target/classes/templates/html/ClienteConta.html">
                <li>Conta</li>
              </a>
          </ul>
        </nav>
        <div class="nav-icon-container">
          <a href="/target/classes/templates/html/ClienteCarrinho.html">
            <img src="/target/classes/templates/img/CarrinhoCompra.svg" alt="Carrinho">
          </a>
          <img src="/target/classes/templates/img/menu.png" alt="Menu" class="menu-button">
        </div>
      </div>
    </div>
    <div class="separacao">
      <div class="info">
        <p class="resumo" name="resumo">Seus Endereços</p>
        <div class="renderizados">
          <ul id="listaEnderecos"></ul>
        </div>
        <a href="/target/classes/templates/html/ClienteEndereco.html">
          <button class="buttonadd">Adicionar endereço</button></a>
      </div>
    </div>
  </div>
    <script src="/target/classes/templates/js/ClienteVerifiEndereco.js"></script>
</body>

</html>