<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Endereço</title>
  <link rel="stylesheet" href="/committers/src/main/resources/templates/css/ClienteCheckEndereco.css">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="header-inner-content">
        <h1 class="logo">Market Book</span></h1>
        <nav>
          <ul>
            <a href="/target/classes/templates/html/ClienteMenu.html">
              <li>Home</li>
            </a>
            <a href="/target/classes/templates/html/ClienteConta.html">
              <li>Conta</li>
            </a>
          </ul>
        </nav>
        <div class="nav-icon-container">
          <a href="/target/classes/templates/html/ClienteCarrinho.html">
            <img src="/target/classes/templates/img/CarrinhoCompra.svg" alt="Carrinho">
          </a>
          <img src="/target/classes/templates/img/menu.png" alt="Menu" class="menu-button">
        </div>
      </div>
    </div>
    <div class="separacao">
      <div class="info">
        <p class="resumo" name="resumo">Escolha o Endereço</p>
        <div class="itens"></div>
        <button class="buttonadd" id="buttonadd">Ir para CheckOut</button>
      </div>
    </div>
  </div>
    <script src="/committers/src/main/resources/templates/js/ClienteCheckEndereco.js"></script>
    <script>
      var botao = document.getElementById('buttonadd');
      botao.addEventListener('click', function () {
        window.location.href = 'CheckCliente.html';
      });
    </script>

</body>

</html>