<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Detalhes - Produto</title>
  <link rel="icon" href="/committers/src/main/resources/templates/img/img-committers.png" type="image/x-icon">

  <link rel="stylesheet" href="/committers/src/main/resources/templates/css/DetalheProduto.css">
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

  <!-- SweetAlert CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <!-- SweetAlert JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

  <header class="header">
    <a href="/committers/src/main/resources/templates/html/ClienteMenu.html">
      <img src="/committers/src/main/resources/templates/img/img-committers.png" alt="Logo do E-commerce" width="40"
        height="40">
    </a>

    <nav class="nav-links">
      <a href="/committers/src/main/resources/templates/html/ClienteMenu.html">Home</a>
      <a href="/committers/src/main/resources/templates/html/ClienteConta.html">Conta</a>
    </nav>

    <div class="icons">
      <a href="/committers/src/main/resources/templates/html/ClienteCarrinho.html" class="compras icon-text">
        <i class="fi fi-rr-cart-shopping-fast"></i>
        <span>Carrinho</span>
      </a>
      <a href="/committers/src/main/resources/templates/html/LoginCliente.html" class="user icon-text">
        <i class="fi fi-rr-circle-user"></i>
        <span>Login</span>
      </a>
    </div>
    </div>
  </header>

  <div class="container">
    <div class="separacao">
      <div class="fotos"></div>
      <div class="info">
        <p class="nome" name="nome">nome</p>
        <div class="precoarrums">
          <span>R$</span>
          <p class="valor" name="valor">preco</p>
        </div>
        <p class="avaliacao" name="avaliacao">avaliacao</p>
        <p class="descricao" name="descricao">descricao</p>
        <button class="buttonadd">Adicionar ao Carrinho</button>
      </div>
    </div>
  </div>

  <script src="/committers/src/main/resources/templates/js/DetalheProduto.js"></script>

</body>

</html>