<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/target/classes/templates/css/ListaPedido.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
  <title>Lista de Usuarios</title>
</head>

<body>
  <div class="container">
    <div class="box">
      <h1>Lista Pedido</h1>
      <div class="cabecalho">
        <span class="nome">Nome do Cliente</span>
        <span class="email">Numero do Pedido</span>
        <span class="status">Status</span>
        <span class="nivel">Nivel</span>
        <span class="alterar">Alterar</span>
        <span class="hab">Habilitar/Desabilitar</span>
      </div>
      <div class="renderizados">
        <ul id="listaUsuarios"></ul>
      </div>

    </div>
  </div>

  <script>
    var botao = document.getElementById('add');


    botao.addEventListener('click', function () {

      window.location.href = `CadastroUsuario.html`
    });</script>
</body>

</html>