<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lista de Usuarios - Committers</title>
  <link rel="icon" href="/committers/src/main/resources/templates/img/img-committers.png" type="image/x-icon">

  <link rel="stylesheet" href="/committers/src/main/resources/templates/css/ListaPedido.css">
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

  <header class="header">
    <a href="/committers/src/main/resources/templates/html/ClienteMenu.html">
      <img src="/committers/src/main/resources/templates/img/img-committers.png" alt="Logo do E-commerce" width="40"
        height="40">
    </a>

    <nav class="nav-links">
      <a href="/committers/src/main/resources/templates/html/ClienteMenu.html">Home</a>
      <a href="/committers/src/main/resources/templates/html/ClienteConta.html">Conta</a>
    </nav>

    <div class="icons">
      <a href="/committers/src/main/resources/templates/html/ClienteCarrinho.html" class="compras icon-text">
        <i class="fi fi-rr-cart-shopping-fast"></i>
        <span>Carrinho</span>
      </a>
      <a href="/committers/src/main/resources/templates/html/LoginCliente.html" class="user icon-text">
        <i class="fi fi-rr-circle-user"></i>
        <span>Login</span>
      </a>
    </div>
    </div>
  </header>

  <div class="container">
    <div class="box">
      <h1>Lista Pedido</h1>
      <div class="cabecalho">
        <span class="nome">Nome do Cliente</span>
        <span class="email">Numero do Pedido</span>
        <span class="status">Status</span>
        <span class="nivel">Nivel</span>
        <span class="alterar">Alterar</span>
        <span class="hab">Habilitar/Desabilitar</span>
      </div>
      <div class="renderizados">
        <ul id="listaUsuarios"></ul>
      </div>

    </div>
  </div>

  <script>
    var botao = document.getElementById('add');

    botao.addEventListener('click', function () {

      window.location.href = `CadastroUsuario.html`
    });
  </script>

</body>

</html>