<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/target/classes/templates/css/Backoffice.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
  <title>Começo</title>
</head>

<body>
  <div class="container">
    <div class="box">
      <h1>Começar a aventura</h1>
      <form id="formLogin">
        <button type="button" onclick="listarProdutos()">Listar Produtos</button>
        <button type="button" onclick="listarUsuarios()">Listar Usuarios</button>
        <button type="button" onclick="listarPedidos()">Listar Pedidos</button>
        <a href="LoginUsuario.html">Deslogar</a>
      </form>
    </div>
  </div>
  <script>
    function listarProdutos() {
      window.location.href = 'ListaProduto.html';
    }

    function listarUsuarios() {
      window.location.href = 'ListaUsuario.html';
    }

    function listarPedidos() {
      window.location.href = 'ListaPedido.html';
    }
  </script>
</body>

</html>