<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Market</title>
  <link rel="stylesheet" href="/target/classes/templates/css/CadastroCliente.css">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="header-inner-content">
        <h1 class="logo">Market Book</h1>
        <nav>
          
        </nav>
        <div class="nav-icon-container">
          <a href="/target/classes/templates/html/ClienteCarrinho.html">
            <img src="/target/classes/templates/img/CarrinhoCompra.svg" alt="Carrinho">
          </a>
          <img src="/Front/img/menu.png" alt="Menu" class="menu-button">
        </div>
      </div>
    </div>
    <div class="separacao">
      <form id="formCadastro">
      <div class="info">
        <p class="cadastro" name="cadastro">Cadastro Cliente</p>
        <input type="text" class="nome" name="nome" placeholder="Nome Completo" required>
        <input type="text" class="email" name="email" placeholder="E-mail" required>
        <input type="text" class="cpf" name="cpf" placeholder="CPF" required>
        <input type="password" class="senha" name="senha" id="senha" placeholder="Senha" required>
        <input type="text" class="genero" name="genero" placeholder="Gênero" required>
        <input type="text" class="data" name="data" placeholder="Data de aniversario" required>
        <button class="buttonadd">Cadastrar</button>
      </div>
    </form>
    </div>
    <script src="/target/classes/templates/js/CadastroCliente.js"></script>
    </body>

</html>