<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Usuario</title>
  <link rel="stylesheet" href="/target/classes/templates/css/CadastroUsuario.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="box">
      <h1>Cadastro Usuario</h1>
      <form id="formCadastro">
        <input type="text" class="nome" name="nome" placeholder="Nome" required>
        <input type="email" class="email" name="email" placeholder="Email" required>
        <input type="password" class="senha" name="senha" id="senha" placeholder="Senha" required>
        <input type="text" class="cpf" name="cpf" placeholder="CPF (somente números)" maxlength="11" pattern="\d*" required>
        <select class="nivel" name="nivel" required>

          <option value="1">Administrador</option>
          <option value="2">Estoquista</option>

        </select>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
  <script src="/target/classes/templates/js/CadastroUsuario.js" defer></script>
</body>

</html>