<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Endereço</title>
  <link rel="stylesheet" href="/target/classes/templates/css/ClienteEndereco.css">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="header-inner-content">
        <h1 class="logo">Market Book</span></h1>
        <nav>
          <ul>
            <a href="/target/classes/templates/html/ClienteMenu.html">
              <li>Home</li>
            </a>
            <a href="/target/classes/templates/html/ClienteConta.html">
              <li>Conta</li>
            </a>
          </ul>
        </nav>
        <div class="nav-icon-container">
          <a href="/target/classes/templates/html/ClienteCarrinho.html">
            <img src="/target/classes/templates/img/CarrinhoCompra.svg" alt="Carrinho">
          </a>
          <img src="/target/classes/templates/img/menu.png" alt="Menu" class="menu-button">
        </div>
      </div>
    </div>
    <div class="separacao">
      <div class="info">
        <p class="cadastro" name="cadastro">Endereço</p>
        <form id="formCadastro">
          <input type="text" id="cep" name="cep" pattern="[0-9]{5}-[0-9]{3}" placeholder="CEP" required>
          <input type="text" class="logradouro" name="logradouro" placeholder="Logradouro" required>
          <input type="text" id="numero" name="numero" placeholder="Numero" required>
          <input type="text" id="complemento" name="complemento" placeholder="Complemento">
          <input type="text" id="bairro" name="bairro" placeholder="Bairro" required>
          <input type="text" id="cidade" name="cidade" placeholder="Cidade" required>
          <input type="text" id="uf" name="uf" pattern="[A-Za-z]{2}" placeholder="UF" required>
          <button class="buttonadd">Enviar Endereço</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/target/classes/templates/js/ClienteEndereco.js"></script>
</body>

</html>