<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/target/classes/templates/css/ListaProduto.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
  <title>Lista de Produtos</title>
</head>

<body>
  <div class="container">
    <div class="box">
      <h1>Lista de Produtos</h1>
      <button id="add">Adicionar Produto</button>
      <div class="cabecalho">
        <span class="id">Código Produto</span>
        <span class="nome">Nome</span>
        <span class="preco">Preço</span>
        <span class="quant">Quantidade</span>
        <span class="status">Status</span>
      </div>
      <div id="listaProdutos">
        <!-- Produtos serão renderizados aqui -->
      </div>
    </div>
  </div>
  <script src="/target/classes/templates/js/ListaProduto.js"></script>
  <script>
    var botao = document.getElementById('add');
    botao.addEventListener('click', function () {
      window.location.href = 'CadastroProduto.html';
    });
  </script>
</body>

</html>
