<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Market Book</title>
  <link rel="stylesheet" href="/target/classes/templates/css/LoginCliente.css">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="header-inner-content">
        <h1 class="logo">Avengers</span></h1>
        <nav>
          <ul>
            <a href="/target/classes/templates/html/ClienteMenu.html">
              <li>Home</li>
            </a>

            <a href="/target/classes/templates/html/ClienteConta.html">
              <li>Conta</li>
            </a>
          </ul>
        </nav>
        <div class="nav-icon-container">
          <a href="/target/classes/templates/html/ClienteCarrinho.html">
            <img src="/target/classes/templates/img/CarrinhoCompra.svg" alt="Carrinho">
          </a>
          <img src="/target/classes/templates/img/menu.png" alt="Menu" class="menu-button">
        </div>
      </div>
    </div>
    <div class="separacao">
      <div class="info">
        <p class="login" name="login">Login</p>
        <form id="formLogin">
          <input type="email" class="email" name="email" id="email" placeholder="Email" required>
          <input type="password" class="senha" name="senha" id="senha" placeholder="Senha" required>
          <button class="buttonadd" type="button" onclick="login()">Entrar</button>
        </form>
        <p class="contantem">Se você não possui conta <a href="/target/classes/templates/html/CadastroCliente.html">Clique aqui</a></p>
      </div>

    </div>
    <script src="/target/classes/templates/js/LoginCliente.js"></script>
</body>

</html>