* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c2c2c;
  }
  
  .header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar {
    background-color: #131313;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
  }
  
  .navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    color: #ff0000;
  }
  
  .logo span {
    color: aliceblue;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .nav-icon-container {
    display: flex;
    align-items: center;
  }
  
  .nav-icon-container img {
    width: 30px;
    cursor: pointer;
  }
  
  .nav-icon-container img:first-child {
    margin-right: 1rem;
  }
  
  nav ul li {
    color: white;
    margin-right: 1.5rem;
    cursor: pointer;
  }
  
  nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
  }
  
  .menu-button {
    display: none;
  }
  
  .carousel-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }
  
  .carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 10s infinite;
  }
  
  .carousel-slide img {
    width: 100%;
    height: cover;
  }
  
  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .carousel-slide:hover .carousel-text {
    opacity: 1;
  }
  
  @keyframes fade {
    0%,
    100% {
      opacity: 0;
    }
    10%,
    90% {
      opacity: 1;
    }
  }
  
  .carousel-container button {
    padding: 5px;
    background-color: #000;
    color: #fff;
  }
  
  .carousel-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-size: 50px;
    color: white; /* torna o texto transparente */
    text-shadow: 0 0 8px #000;
  }
  
  .carousel-container p {
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 0 0 8px #000;
  }
  
  .NA {
    margin-top: 200px;
  }
  
  .TM {
    margin-bottom: 600px;
  }
  
  .BN {
    margin-top: 201px;
  }
  
  .div-produto {
    width: 250px;
    height: 250px;
    background-color: #131313;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    overflow: hidden;
    transition: transform 0.25s;
    border: 1px solid #fb1010;
    margin-top: 20px;
  }
  
  .div-produto:hover {
    transform: scale(1.03);
  }
  
  .div-produto img {
    max-width: 100%;
    border-radius: 5% 5% 0 0;
    justify-self: center;
  }
  
  .div-produto span:nth-child(2) {
    color: #fff;
    justify-self: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .div-produto span:nth-child(3) {
    justify-self: start;
    color: #fb1010;
    font-weight: bold;
    font-size: 26px;
    margin-top: 25px;
    margin-left: 20px;
  }
  
  #listaProdutos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .Texto {
    color: #fb1010;
    margin-left: 20px;
    text-shadow: 0 0 6px #000;
  }
  
  a {
    text-decoration: none;
  }